/home/mw1d/coursera/gcd/week1/quiz1/ques1.raw_data.csv
/home/mw1d/coursera/gcd/week1/quiz1/ques5.raw_data.csv
/home/mw1d/coursera/gcd/week1/quiz1/data/ques3.raw_data.xlsx
/home/mw1d/pd/coursera/datasciencecoursera/04.ExploratoryDataAnalysis/course_projects/assignment1/household_power_consumption.txt
*.zip
